# This file is a POMDP policy, represented as a set of "lower bound
# planes", each of which consists of an alpha vector and a corresponding
# action.  Given a particular belief b, this information can be used to
# answer two queries of interest:
#
#   1. What is a lower bound on the expected long-term reward starting
#        from belief b?
#   2. What is an action that achieves that expected reward lower bound?
#
# Each lower bound plane is only defined over a subset of the belief
# simplex--it is defined for those beliefs b such that the non-zero
# entries of b are a subset of the entries present in the plane's alpha
# vector.  If this condition holds we say the plane is 'applicable' to b.
#
# Given a belief b, both of the queries above can be answered by the
# following process: first, throw out all the planes that are not
# applicable to b.  Then, for each of the remaining planes, take the inner
# product of the plane's alpha vector with b.  The highest inner product
# value is the expected long-term reward lower bound, and the action label
# for that plane is the action that achieves the bound.

{
  policyType => "MaxPlanesLowerBound",
  numPlanes => 94,
  planes => [
    {
      action => 0,
      numEntries => 8,
      entries => [
        0, 1326.61,
        1, -244.964,
        2, -244.964,
        3, -388.757,
        4, -75225.7,
        5, -388.757,
        6, -388.757,
        7, -388.757
      ]
    },
    {
      action => 3,
      numEntries => 8,
      entries => [
        0, 1049.44,
        1, -522.135,
        2, -522.135,
        3, -133.836,
        4, -74970.8,
        5, -133.836,
        6, -133.836,
        7, -133.836
      ]
    },
    {
      action => 6,
      numEntries => 8,
      entries => [
        0, -7500.91,
        1, -9072.48,
        2, -9072.48,
        3, -1280.98,
        4, 6557.25,
        5, -1280.98,
        6, -1280.98,
        7, -1280.98
      ]
    },
    {
      action => 13,
      numEntries => 8,
      entries => [
        0, -7734.05,
        1, -9305.63,
        2, -9305.63,
        3, -1663.36,
        4, 7100.46,
        5, -1663.36,
        6, -1663.36,
        7, -1663.36
      ]
    },
    {
      action => 9,
      numEntries => 8,
      entries => [
        0, -7530.27,
        1, -9121.84,
        2, -9121.84,
        3, -453.3,
        4, -4031.39,
        5, -351.303,
        6, -462.634,
        7, -351.303
      ]
    },
    {
      action => 6,
      numEntries => 8,
      entries => [
        0, -7603.29,
        1, -9174.96,
        2, -9174.96,
        3, -1173.4,
        4, 6641.32,
        5, -1098.15,
        6, -1173.86,
        7, -1098.15
      ]
    },
    {
      action => 14,
      numEntries => 8,
      entries => [
        0, -9239.45,
        1, -10810.5,
        2, -10810.5,
        3, -136.655,
        4, -42038.7,
        5, -135.926,
        6, -137.084,
        7, -135.926
      ]
    },
    {
      action => 9,
      numEntries => 8,
      entries => [
        0, -7561.98,
        1, -9134.44,
        2, -9134.44,
        3, -403.427,
        4, -3814.65,
        5, -346.025,
        6, -405.266,
        7, -346.025
      ]
    },
    {
      action => 8,
      numEntries => 8,
      entries => [
        0, -7592.86,
        1, -9164.37,
        2, -9164.37,
        3, -696.358,
        4, 3770.24,
        5, -647.985,
        6, -697.257,
        7, -684.762
      ]
    },
    {
      action => 14,
      numEntries => 8,
      entries => [
        0, -9318.14,
        1, -10890.5,
        2, -10890.5,
        3, -136.772,
        4, -41812.1,
        5, -135.919,
        6, -137.152,
        7, -136.285
      ]
    },
    {
      action => 9,
      numEntries => 6,
      entries => [
        0, -8721.45,
        3, -336.821,
        4, -4511.1,
        5, -336.304,
        6, -337.198,
        7, -336.379
      ]
    },
    {
      action => 8,
      numEntries => 8,
      entries => [
        0, -7641.81,
        1, -9188.42,
        2, -9188.42,
        3, -683.533,
        4, 3770.53,
        5, -647.798,
        6, -684.32,
        7, -683.48
      ]
    },
    {
      action => 9,
      numEntries => 8,
      entries => [
        0, -8343.03,
        1, -9914.71,
        2, -9914.71,
        3, -339.294,
        4, -4095.03,
        5, -339.206,
        6, -339.956,
        7, -339.625
      ]
    },
    {
      action => 14,
      numEntries => 8,
      entries => [
        0, -9357.59,
        1, -10930,
        2, -10930,
        3, -136.229,
        4, -41825.8,
        5, -135.853,
        6, -136.52,
        7, -136.294
      ]
    },
    {
      action => 8,
      numEntries => 8,
      entries => [
        0, -7599.94,
        1, -9171.34,
        2, -9171.34,
        3, -695.222,
        4, 3770.56,
        5, -647.84,
        6, -684.601,
        7, -683.522
      ]
    },
    {
      action => 14,
      numEntries => 8,
      entries => [
        0, -9140.34,
        1, -10713.9,
        2, -10713.9,
        3, -136.481,
        4, -41720.7,
        5, -136.247,
        6, -136.796,
        7, -136.342
      ]
    },
    {
      action => 6,
      numEntries => 8,
      entries => [
        0, -7933.45,
        1, -9505.15,
        2, -9505.15,
        3, -1148.92,
        4, 6511.87,
        5, -1051.46,
        6, -1148.46,
        7, -1087.48
      ]
    },
    {
      action => 9,
      numEntries => 8,
      entries => [
        0, -6929.8,
        1, -8500.8,
        2, -8917.32,
        3, -382.165,
        4, -3749.43,
        5, -347.184,
        6, -384.05,
        7, -383.212
      ]
    },
    {
      action => 13,
      numEntries => 6,
      entries => [
        0, -7430.07,
        1, -8999.63,
        2, -9427.69,
        3, -1465.12,
        4, 7171.95,
        5, -1403.21
      ]
    },
    {
      action => 9,
      numEntries => 8,
      entries => [
        0, -6928.14,
        1, -8500.69,
        2, -8906.77,
        3, -381.985,
        4, -3749.43,
        5, -347.184,
        6, -384.039,
        7, -383.23
      ]
    },
    {
      action => 9,
      numEntries => 8,
      entries => [
        0, -8333.82,
        1, -9905.52,
        2, -9905.52,
        3, -339.233,
        4, -4095.37,
        5, -339.198,
        6, -339.883,
        7, -339.559
      ]
    },
    {
      action => 8,
      numEntries => 8,
      entries => [
        0, -7863.55,
        1, -9454.72,
        2, -9454.72,
        3, -682.55,
        4, 3684.04,
        5, -645.953,
        6, -682.523,
        7, -645.976
      ]
    },
    {
      action => 14,
      numEntries => 8,
      entries => [
        0, -9356.41,
        1, -10928.7,
        2, -10928.7,
        3, -136.205,
        4, -41827.2,
        5, -136.219,
        6, -136.506,
        7, -135.857
      ]
    },
    {
      action => 9,
      numEntries => 8,
      entries => [
        0, -8357.48,
        1, -9929.26,
        2, -9929.26,
        3, -339.168,
        4, -4099.66,
        5, -339.25,
        6, -339.805,
        7, -339.176
      ]
    },
    {
      action => 10,
      numEntries => 8,
      entries => [
        0, -7543.04,
        1, -9114.62,
        2, -9114.62,
        3, -583.645,
        4, 2334.99,
        5, -583.436,
        6, -584.442,
        7, -547.827
      ]
    },
    {
      action => 8,
      numEntries => 5,
      entries => [
        3, -729.677,
        4, 3815.14,
        5, -728.957,
        6, -687.16,
        7, -650.203
      ]
    },
    {
      action => 9,
      numEntries => 5,
      entries => [
        3, -379.707,
        4, -3854.47,
        5, -379.856,
        6, -379.153,
        7, -343.492
      ]
    },
    {
      action => 14,
      numEntries => 8,
      entries => [
        0, -9105.58,
        1, -10673.6,
        2, -10673.6,
        3, -136.494,
        4, -41714.5,
        5, -136.691,
        6, -136.807,
        7, -136.267
      ]
    },
    {
      action => 6,
      numEntries => 8,
      entries => [
        0, -7852.09,
        1, -9424.68,
        2, -9424.68,
        3, -1154.14,
        4, 6572.38,
        5, -1136.91,
        6, -1137.35,
        7, -1057.94
      ]
    },
    {
      action => 10,
      numEntries => 8,
      entries => [
        0, -7552.61,
        1, -9124.16,
        2, -9124.16,
        3, -583.475,
        4, 2331.45,
        5, -583.808,
        6, -584.082,
        7, -547.44
      ]
    },
    {
      action => 9,
      numEntries => 8,
      entries => [
        0, -8530.66,
        1, -10102.4,
        2, -10102.4,
        3, -338.293,
        4, -4173.59,
        5, -338.652,
        6, -338.833,
        7, -338.228
      ]
    },
    {
      action => 14,
      numEntries => 8,
      entries => [
        0, -9370.71,
        1, -10943.1,
        2, -10943.1,
        3, -136.108,
        4, -41830.1,
        5, -136.272,
        6, -136.382,
        7, -135.843
      ]
    },
    {
      action => 8,
      numEntries => 8,
      entries => [
        0, -7865.05,
        1, -9456.26,
        2, -9456.26,
        3, -682.536,
        4, 3683.76,
        5, -645.954,
        6, -682.505,
        7, -645.879
      ]
    },
    {
      action => 9,
      numEntries => 8,
      entries => [
        0, -8342.77,
        1, -9914.27,
        2, -9916.22,
        3, -339.219,
        4, -4099.31,
        5, -339.185,
        6, -339.857,
        7, -339.181
      ]
    },
    {
      action => 6,
      numEntries => 8,
      entries => [
        0, -7943.04,
        1, -9516.9,
        2, -9516.91,
        3, -1131.73,
        4, 6508.16,
        5, -1050.71,
        6, -1129.99,
        7, -1085.96
      ]
    },
    {
      action => 9,
      numEntries => 8,
      entries => [
        0, -6928.65,
        1, -8501.18,
        2, -8906.75,
        3, -381.821,
        4, -3749.57,
        5, -347.177,
        6, -383.842,
        7, -383.133
      ]
    },
    {
      action => 6,
      numEntries => 6,
      entries => [
        0, -7136.83,
        1, -8728.09,
        2, -8729.19,
        3, -1157.44,
        4, 6598.21,
        5, -1102.76
      ]
    },
    {
      action => 3,
      numEntries => 7,
      entries => [
        0, 1460.08,
        1, -110.282,
        2, -124.789,
        3, -143.253,
        4, -70423.2,
        5, -141.075,
        6, -142
      ]
    },
    {
      action => 14,
      numEntries => 8,
      entries => [
        0, -8836.58,
        1, -10406.8,
        2, -10899.7,
        3, -136.441,
        4, -41828.7,
        5, -135.873,
        6, -136.766,
        7, -136.316
      ]
    },
    {
      action => 9,
      numEntries => 8,
      entries => [
        0, -8168.39,
        1, -9804.41,
        2, -9805.44,
        3, -375.619,
        4, -4072.41,
        5, -339.595,
        6, -340.303,
        7, -340.047
      ]
    },
    {
      action => 9,
      numEntries => 8,
      entries => [
        0, -8531.54,
        1, -10103.3,
        2, -10103.3,
        3, -338.274,
        4, -4173.6,
        5, -338.654,
        6, -338.808,
        7, -338.225
      ]
    },
    {
      action => 10,
      numEntries => 7,
      entries => [
        0, -7564.07,
        1, -8482.21,
        3, -583.297,
        4, 2330.99,
        5, -583.692,
        6, -583.885,
        7, -547.418
      ]
    },
    {
      action => 6,
      numEntries => 6,
      entries => [
        0, -7404.05,
        3, -1131.8,
        4, 6550.04,
        5, -1131.36,
        6, -1132.02,
        7, -1052.19
      ]
    },
    {
      action => 10,
      numEntries => 7,
      entries => [
        0, -7565.7,
        1, -8485.08,
        3, -583.1,
        4, 2329.79,
        5, -583.638,
        6, -583.833,
        7, -547.362
      ]
    },
    {
      action => 9,
      numEntries => 8,
      entries => [
        0, -8531.79,
        1, -10101.8,
        2, -10078.7,
        3, -338.271,
        4, -4173.69,
        5, -338.652,
        6, -338.806,
        7, -338.225
      ]
    },
    {
      action => 8,
      numEntries => 8,
      entries => [
        0, -7905.82,
        1, -9477.31,
        2, -9477.42,
        3, -681.699,
        4, 3683.54,
        5, -645.839,
        6, -682.255,
        7, -645.835
      ]
    },
    {
      action => 9,
      numEntries => 8,
      entries => [
        0, -8344.67,
        1, -9916.42,
        2, -9916.42,
        3, -339.212,
        4, -4099.33,
        5, -339.182,
        6, -339.856,
        7, -339.182
      ]
    },
    {
      action => 8,
      numEntries => 8,
      entries => [
        0, -7599.32,
        1, -9172.8,
        2, -9172.81,
        3, -684.933,
        4, 3770.78,
        5, -647.804,
        6, -684.445,
        7, -683.403
      ]
    },
    {
      action => 9,
      numEntries => 8,
      entries => [
        0, -8168.24,
        1, -9804.33,
        2, -9805.3,
        3, -375.627,
        4, -4072.4,
        5, -339.595,
        6, -340.304,
        7, -340.046
      ]
    },
    {
      action => 14,
      numEntries => 8,
      entries => [
        0, -8848.5,
        1, -10418.4,
        2, -10922.9,
        3, -136.459,
        4, -41834.4,
        5, -135.854,
        6, -136.4,
        7, -136.301
      ]
    },
    {
      action => 8,
      numEntries => 7,
      entries => [
        0, -7190.46,
        1, -9142.36,
        2, -9163.49,
        3, -684.885,
        4, 3760.12,
        5, -647.83,
        6, -684.419
      ]
    },
    {
      action => 3,
      numEntries => 7,
      entries => [
        0, 1477.16,
        1, -94.7504,
        2, -95.6665,
        3, -140.562,
        4, -70604.4,
        5, -138.931,
        6, -140.873
      ]
    },
    {
      action => 3,
      numEntries => 6,
      entries => [
        0, 1491.45,
        1, -79.5186,
        2, -79.5752,
        3, -144.239,
        4, -70436.7,
        5, -144.122
      ]
    },
    {
      action => 3,
      numEntries => 7,
      entries => [
        0, 1429.9,
        1, -142.177,
        2, -142.226,
        3, -136.086,
        4, -71060.5,
        5, -135.82,
        6, -135.885
      ]
    },
    {
      action => 9,
      numEntries => 8,
      entries => [
        0, -7997.4,
        1, -9568.83,
        2, -9567.53,
        3, -377.344,
        4, -3970.96,
        5, -341.591,
        6, -377.391,
        7, -341.512
      ]
    },
    {
      action => 8,
      numEntries => 8,
      entries => [
        0, -7524.93,
        1, -9096.32,
        2, -9096.32,
        3, -698.833,
        4, 3824.05,
        5, -686.792,
        6, -688.604,
        7, -650.759
      ]
    },
    {
      action => 13,
      numEntries => 8,
      entries => [
        0, -7839.24,
        1, -9410.68,
        2, -9410.62,
        3, -1459.69,
        4, 7239.39,
        5, -1448.92,
        6, -1458.28,
        7, -1394.64
      ]
    },
    {
      action => 9,
      numEntries => 8,
      entries => [
        0, -8531.85,
        1, -10101.8,
        2, -10078.8,
        3, -338.27,
        4, -4173.7,
        5, -338.662,
        6, -338.805,
        7, -338.224
      ]
    },
    {
      action => 6,
      numEntries => 5,
      entries => [
        3, -1134.49,
        4, 6580.87,
        5, -1134.79,
        6, -1135.02,
        7, -1055.08
      ]
    },
    {
      action => 10,
      numEntries => 5,
      entries => [
        3, -583.124,
        4, 2331.48,
        5, -583.671,
        6, -583.862,
        7, -547.39
      ]
    },
    {
      action => 9,
      numEntries => 8,
      entries => [
        0, -8510.57,
        1, -10078.6,
        2, -10078.6,
        3, -338.27,
        4, -4173.61,
        5, -338.662,
        6, -338.805,
        7, -338.225
      ]
    },
    {
      action => 13,
      numEntries => 8,
      entries => [
        0, -7836.17,
        1, -9407.61,
        2, -9407.61,
        3, -1458.94,
        4, 7240.66,
        5, -1449.38,
        6, -1457.44,
        7, -1394.59
      ]
    },
    {
      action => 8,
      numEntries => 8,
      entries => [
        0, -7521.75,
        1, -9093.14,
        2, -9093.15,
        3, -698.077,
        4, 3825.42,
        5, -687.259,
        6, -687.754,
        7, -650.711
      ]
    },
    {
      action => 9,
      numEntries => 8,
      entries => [
        0, -7976.87,
        1, -9548.22,
        2, -9548.22,
        3, -377.488,
        4, -3963.16,
        5, -341.99,
        6, -377.445,
        7, -341.559
      ]
    },
    {
      action => 13,
      numEntries => 8,
      entries => [
        0, -7866.4,
        1, -9438.01,
        2, -9438.01,
        3, -1543.01,
        4, 7226.66,
        5, -1398.76,
        6, -1541.72,
        7, -1397.44
      ]
    },
    {
      action => 6,
      numEntries => 8,
      entries => [
        0, -7613.56,
        1, -9187.04,
        2, -9187.05,
        3, -1153.42,
        4, 6652.12,
        5, -1091.71,
        6, -1153.7,
        7, -1091.78
      ]
    },
    {
      action => 8,
      numEntries => 8,
      entries => [
        0, -7567.08,
        1, -9139.42,
        2, -9191.06,
        3, -684.508,
        4, 3771.24,
        5, -647.777,
        6, -684.398,
        7, -683.414
      ]
    },
    {
      action => 9,
      numEntries => 7,
      entries => [
        0, -7834.54,
        1, -9403.6,
        2, -9911.07,
        3, -339.211,
        4, -4105,
        5, -339.191,
        6, -339.804
      ]
    },
    {
      action => 3,
      numEntries => 7,
      entries => [
        0, 1435.01,
        1, -135.909,
        2, -139.586,
        3, -136.132,
        4, -71038.9,
        5, -135.854,
        6, -136.275
      ]
    },
    {
      action => 3,
      numEntries => 6,
      entries => [
        0, 1481.17,
        1, -88.6435,
        2, -90.9074,
        3, -148.448,
        4, -70074,
        5, -147.533
      ]
    },
    {
      action => 14,
      numEntries => 8,
      entries => [
        0, -9328.93,
        1, -10901.8,
        2, -10928.9,
        3, -136.484,
        4, -41824.6,
        5, -135.856,
        6, -136.4,
        7, -136.3
      ]
    },
    {
      action => 6,
      numEntries => 8,
      entries => [
        0, -7869.07,
        1, -9440.45,
        2, -9440.53,
        3, -1133.11,
        4, 6538.08,
        5, -1053.54,
        6, -1133.53,
        7, -1088.71
      ]
    },
    {
      action => 9,
      numEntries => 7,
      entries => [
        0, -6922.61,
        1, -8495.36,
        2, -8902.31,
        3, -382.156,
        4, -3747.9,
        5, -347.208,
        6, -383.953
      ]
    },
    {
      action => 3,
      numEntries => 6,
      entries => [
        0, 1439.6,
        1, -131.483,
        2, -132.664,
        3, -136.558,
        4, -71019.4,
        5, -135.933
      ]
    },
    {
      action => 9,
      numEntries => 8,
      entries => [
        0, -6919.59,
        1, -8858.37,
        2, -8879.5,
        3, -390.174,
        4, -3737.54,
        5, -347.306,
        6, -384.067,
        7, -383.108
      ]
    },
    {
      action => 14,
      numEntries => 8,
      entries => [
        0, -9114.43,
        1, -10687.7,
        2, -10713.5,
        3, -136.487,
        4, -41720.7,
        5, -136.247,
        6, -136.773,
        7, -136.342
      ]
    },
    {
      action => 9,
      numEntries => 8,
      entries => [
        0, -7974.39,
        1, -9546.37,
        2, -9546.52,
        3, -377.39,
        4, -3966.34,
        5, -341.538,
        6, -377.415,
        7, -341.967
      ]
    },
    {
      action => 8,
      numEntries => 8,
      entries => [
        0, -7524.66,
        1, -9096.23,
        2, -9096.3,
        3, -698.808,
        4, 3800.89,
        5, -650.735,
        6, -688.298,
        7, -686.323
      ]
    },
    {
      action => 13,
      numEntries => 8,
      entries => [
        0, -7912.63,
        1, -9484.14,
        2, -9484.15,
        3, -1452.68,
        4, 7219.38,
        5, -1392.29,
        6, -1452.88,
        7, -1391.77
      ]
    },
    {
      action => 9,
      numEntries => 8,
      entries => [
        0, -8332.24,
        1, -9903.97,
        2, -9905.57,
        3, -339.239,
        4, -4095.04,
        5, -339.193,
        6, -339.805,
        7, -339.626
      ]
    },
    {
      action => 8,
      numEntries => 6,
      entries => [
        0, -7621.28,
        3, -690.668,
        4, 3771.12,
        5, -647.768,
        6, -684.399,
        7, -683.199
      ]
    },
    {
      action => 9,
      numEntries => 6,
      entries => [
        0, -8711.82,
        3, -336.64,
        4, -4507.15,
        5, -336.303,
        6, -336.836,
        7, -336.738
      ]
    },
    {
      action => 6,
      numEntries => 6,
      entries => [
        0, -7618.41,
        3, -1153.4,
        4, 6651.14,
        5, -1091.27,
        6, -1153.68,
        7, -1091.77
      ]
    },
    {
      action => 8,
      numEntries => 6,
      entries => [
        0, -7621.42,
        3, -690.667,
        4, 3771.06,
        5, -647.764,
        6, -684.399,
        7, -683.198
      ]
    },
    {
      action => 9,
      numEntries => 8,
      entries => [
        0, -8332.41,
        1, -9879.17,
        2, -9880.63,
        3, -339.294,
        4, -4095.05,
        5, -339.193,
        6, -339.805,
        7, -339.624
      ]
    },
    {
      action => 13,
      numEntries => 8,
      entries => [
        0, -7912.62,
        1, -9484.07,
        2, -9484.08,
        3, -1452.68,
        4, 7219.38,
        5, -1392.29,
        6, -1452.88,
        7, -1391.77
      ]
    },
    {
      action => 8,
      numEntries => 8,
      entries => [
        0, -7525.73,
        1, -9097.29,
        2, -9097.36,
        3, -698.01,
        4, 3800.57,
        5, -650.673,
        6, -687.42,
        7, -686.268
      ]
    },
    {
      action => 9,
      numEntries => 8,
      entries => [
        0, -7970.36,
        1, -9540.59,
        2, -9540.68,
        3, -377.673,
        4, -3964.73,
        5, -341.566,
        6, -377.445,
        7, -341.995
      ]
    },
    {
      action => 14,
      numEntries => 8,
      entries => [
        0, -9114.19,
        1, -10687.4,
        2, -10713.3,
        3, -136.488,
        4, -41720.6,
        5, -136.247,
        6, -136.771,
        7, -136.342
      ]
    },
    {
      action => 6,
      numEntries => 8,
      entries => [
        0, -7857.55,
        1, -9431.01,
        2, -9446.34,
        3, -1151.67,
        4, 6542.16,
        5, -1054.33,
        6, -1151.71,
        7, -1089.88
      ]
    },
    {
      action => 9,
      numEntries => 8,
      entries => [
        0, -6919,
        1, -8857.86,
        2, -8877.66,
        3, -390.407,
        4, -3737.34,
        5, -347.313,
        6, -384.246,
        7, -383.119
      ]
    },
    {
      action => 13,
      numEntries => 7,
      entries => [
        0, -7416.02,
        1, -9396.3,
        2, -9396.35,
        3, -1544.43,
        4, 7207.05,
        5, -1400.96,
        6, -1542.97
      ]
    },
    {
      action => 0,
      numEntries => 6,
      entries => [
        0, 1528.75,
        1, -42.2227,
        2, -42.287,
        3, -344.186,
        4, -70637.5,
        5, -343.527
      ]
    },
    {
      action => 0,
      numEntries => 4,
      entries => [
        0, 1532.49,
        1, -38.5891,
        2, -38.5991,
        3, -348.431
      ]
    }
  ]
}
